/* line 1, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
body {
  background: #fafafa;
}

/* line 5, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar {
  padding: 10px;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
/* line 11, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 16, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list .topbar-list-item {
  display: inline-block;
  margin-right: 15px;
}
/* line 20, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list .topbar-list-item:last-child {
  margin-right: 0;
}
/* line 24, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list .topbar-list-item a {
  text-decoration: none;
}

/* line 31, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page {
  margin-top: 50px;
}
/* line 34, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .start-title {
  margin-bottom: 30px;
}
/* line 38, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .start-description {
  line-height: 28px;
  font-size: 18px;
}
/* line 44, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-title {
  margin: 0 0 10px 0;
  font-size: 16px;
}
/* line 49, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-link {
  font-size: 12px;
}
/* line 53, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-btn {
  width: 100%;
}
/* line 58, /Users/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .form-group:last-child {
  margin-bottom: 0;
}
/* line 1, /Users/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.pr0 {
  padding-right: 0;
}
/*


 */
