/* line 2, /home/daniel/git/web/hets/app/assets/stylesheets/account-page.css.scss */
.account-page .account-name {
  margin-bottom: 0;
  font-size: 13px;
}
/* line 7, /home/daniel/git/web/hets/app/assets/stylesheets/account-page.css.scss */
.account-page .account-email {
  margin-bottom: 0;
  font-size: 12px;
}
/* line 1, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
body {
  background: #fafafa;
  padding-bottom: 50px;
}

/* line 6, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar {
  margin-bottom: 50px;
  padding: 10px;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
/* line 13, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 18, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list.left {
  float: left;
}
/* line 22, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list.right {
  float: right;
}
/* line 26, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}
/* line 31, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item:last-child {
  margin-right: 0;
}
/* line 35, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item a {
  text-decoration: none;
}
/* line 39, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item .notifications {
  position: absolute;
  z-index: 9999;
  overflow-y: scroll;
  top: 40px;
  right: 0;
  width: 240px;
  max-height: 240px;
}
/* line 48, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item .notifications .notifications-list {
  padding-left: 0;
  list-style: none;
}
/* line 52, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item .notifications .notifications-list .notifications-list-item {
  border-bottom: 1px solid #ccc;
}
/* line 55, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item .notifications .notifications-list .notifications-list-item .notification-date {
  font-size: 9px;
}
/* line 59, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item .notifications .notifications-list .notifications-list-item .notification-message {
  font-size: 13px;
}
/* line 63, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.topbar .topbar-list .topbar-list-item .notifications .notifications-list .notifications-list-item:last-child {
  margin-bottom: 0;
}

/* line 73, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.errors-list {
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 12px;
}

/* line 79, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.posts-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
/* line 84, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.posts-list .posts-list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 89, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.posts-list .posts-list-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
/* line 96, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.posts-list .posts-list-item .post .post-date {
  margin-bottom: 0;
  font-size: 10px;
}
/* line 101, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.posts-list .posts-list-item .post .post-author {
  margin-bottom: 0;
  font-size: 12px;
}
/* line 106, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.posts-list .posts-list-item .post .post-content {
  margin-bottom: 0;
  font-size: 14px;
}
/* line 111, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.posts-list .posts-list-item .post .post-links {
  text-align: right;
  font-size: 10px;
}

/* line 119, /home/daniel/git/web/hets/app/assets/stylesheets/global.css.scss */
.load-more {
  width: 100%;
}
/* line 3, /home/daniel/git/web/hets/app/assets/stylesheets/home-page.css.scss */
.home-page .search-form .search-label {
  padding-top: 4px;
}
/* line 7, /home/daniel/git/web/hets/app/assets/stylesheets/home-page.css.scss */
.home-page .search-form .search-button {
  width: 100%;
}
/* line 2, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .start-title {
  margin-bottom: 30px;
}
/* line 6, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .start-description {
  line-height: 28px;
  font-size: 18px;
}
/* line 12, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .sign-panel .sign-title {
  margin: 0 0 10px 0;
  font-size: 16px;
}
/* line 17, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .sign-panel .sign-link {
  font-size: 12px;
}
/* line 21, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .sign-panel .sign-alert {
  padding: 10px;
  font-size: 12px;
}
/* line 26, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .sign-panel .sign-errors-list {
  padding-left: 0;
  list-style: none;
  font-size: 12px;
}
/* line 31, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .sign-panel .sign-errors-list .sign-errors-list-item {
  padding: 5px;
}
/* line 36, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .sign-panel .sign-btn {
  width: 100%;
}
/* line 41, /home/daniel/git/web/hets/app/assets/stylesheets/start-page.css.scss */
.start-page .sign-panel .form-group:last-child {
  margin-bottom: 0;
}
/* line 1, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 5, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.p0 {
  padding: 0;
}

/* line 9, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.p10 {
  padding: 10px;
}

/* line 12, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.pl0 {
  padding-left: 0;
}

/* line 15, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.pr0 {
  padding-right: 0;
}

/* line 19, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.mb0 {
  margin-bottom: 0;
}

/* line 22, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.mb10 {
  margin-bottom: 10;
}
/*


 */
