/* line 1, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
body {
  background: #fafafa;
}

/* line 5, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar {
  padding: 10px;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
/* line 11, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 16, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list.left {
  float: left;
}
/* line 20, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list.right {
  float: right;
}
/* line 24, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list .topbar-list-item {
  display: inline-block;
  margin-right: 15px;
}
/* line 28, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list .topbar-list-item:last-child {
  margin-right: 0;
}
/* line 32, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.topbar .topbar-list .topbar-list-item a {
  text-decoration: none;
}

/* line 39, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page {
  margin-top: 50px;
}
/* line 42, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .start-title {
  margin-bottom: 30px;
}
/* line 46, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .start-description {
  line-height: 28px;
  font-size: 18px;
}
/* line 52, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-title {
  margin: 0 0 10px 0;
  font-size: 16px;
}
/* line 57, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-link {
  font-size: 12px;
}
/* line 61, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-alert {
  padding: 10px;
  font-size: 12px;
}
/* line 66, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-errors-list {
  padding-left: 0;
  list-style: none;
  font-size: 12px;
}
/* line 71, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-errors-list .sign-errors-list-item {
  padding: 5px;
}
/* line 76, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .sign-btn {
  width: 100%;
}
/* line 81, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.start-page .sign-panel .form-group:last-child {
  margin-bottom: 0;
}

/* line 88, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.home-page {
  margin-top: 50px;
}
/* line 91, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.home-page .posts-list {
  padding-left: 0;
  list-style: none;
}
/* line 95, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.home-page .posts-list .posts-list-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 99, /home/daniel/git/web/hets/app/assets/stylesheets/layout.css.scss */
.home-page .posts-list .posts-list-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
/* line 1, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.p10 {
  padding: 10px;
}

/* line 5, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.pr0 {
  padding-right: 0;
}

/* line 9, /home/daniel/git/web/hets/app/assets/stylesheets/utils.css.scss */
.mb0 {
  margin-bottom: 0;
}
/*


 */
