body {
  background: #fafafa;
  padding-bottom: 50px;
}

.topbar {
  margin-bottom: 50px;
  padding: 10px;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #ccc;

  .topbar-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &.left {
      float: left;
    }

    &.right {
      float: right;
    }

    .topbar-list-item {
      position: relative;
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
      }

      .notifications {
        position: absolute;
        z-index: 9999;
        overflow-y: scroll;
        top: 40px;
        right: 0;
        width: 240px;
        max-height: 240px;
        
        .notifications-list {
          padding-left: 0;
          list-style: none;
          
          .notifications-list-item {
            border-bottom: 1px solid #ccc;

            .notification-date {
              font-size: 9px;
            }

            .notification-message {
              font-size: 13px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.errors-list {
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 12px;
}

.posts-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  .posts-list-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    .post {
      .post-date {
        margin-bottom: 0;
        font-size: 10px;
      }

      .post-author {
        margin-bottom: 0;
        font-size: 12px;
      }

      .post-content {
        margin-bottom: 0;
        font-size: 14px;
      }

      .post-links {
        text-align: right;
        font-size: 10px;
      }
    }
  }
}

.load-more {
  width: 100%
}