.start-page {
  .start-title {
    margin-bottom: 30px;
  }

  .start-description {
    line-height: 28px;
    font-size: 18px;
  }

  .sign-panel {
    .sign-title {
      margin: 0 0 10px 0;
      font-size: 16px;
    }

    .sign-link {
      font-size: 12px;
    }

    .sign-alert {
      padding: 10px;
      font-size: 12px;
    }

    .sign-errors-list {
      padding-left: 0;
      list-style: none;
      font-size: 12px;
      
      .sign-errors-list-item {
        padding: 5px;
      }
    }

    .sign-btn {
      width: 100%;
    }

    .form-group {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}