[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.p0 {
	padding: 0;
}

.p10 {
	padding: 10px;
}
.pl0 {
  padding-left: 0;
}
.pr0 {
  padding-right: 0;
}

.mb0 {
	margin-bottom: 0;
}
.mb10 {
	margin-bottom: 10;
}