<div class="col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-7">
      <h1 class="start-title"><%= t('pages.about.title') %></h1>
      <%= raw t('pages.about.description') %>
    </div>
  </div>
</div>