<div class="account-page col-md-6 col-md-offset-3" ng-controller="AccountController">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('pages.account.titles.account') %></h2>
      <div class="panel panel-default">
        <div class="panel-body p10">
          <div class="media">
            <div class="media-left">
              <img ngf-thumbnail="account.avatar || '<%= @current_user.avatar.url(:thumb) %>'">
            </div>
            <div class="media-body">
            <p class="account-name text-primary"><strong><%= @current_user.name %></strong></p>
            <p class="account-email text-muted"><%= @current_user.email %></p>
            <p class="account-bio mb0"><%= @current_user.bio %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-sm alert-success" ng-show="success"><%= t('pages.account.forms.messages.success') %></div>
      
      <%= form_for(:user, :url => api_v1_user_path(@current_user.id), :method => :put, :html => {:class => 'account-form', 'ng-submit' => 'proccess($event)'}) do |f| %>
        <h2><%= t('pages.account.titles.informations') %></h2>
        <div class="panel panel-default">
          <div class="panel-body p10">
            <div class="form-group">
              <button class="change-photo btn btn-sm btn-success" ngf-select ng-model="account.avatar" ngf-pattern="'image/*'" ngf-accept="'image/*'"><%= t('pages.account.forms.buttons.select') %></button>
              <ul class="errors-list text-danger" ng-show="showErrors">
                <li class="errors-list-item" ng-repeat="error in errors.avatar">{{error}}</li>
              </ul>
            </div>
            <div class="form-group">
              <%= f.text_field(:name, :class => 'form-control input-sm', :value => @current_user.name, :placeholder => t('forms.placeholders.name'), 'ng-model' => 'account.name', 'ng-init' => "account.name = '#{@current_user.name}'") %>
              <ul class="errors-list text-danger" ng-show="showErrors">
                <li class="errors-list-item" ng-repeat="error in errors.name">{{error}}</li>
              </ul>
            </div>
            <div class="form-group">
              <%= f.text_area(:bio, :class => 'form-control input-sm', :value => @current_user.bio, :placeholder => t('forms.placeholders.bio'), 'ng-model' => 'account.bio', 'ng-init' => "account.bio = '#{@current_user.bio}'") %>
              <ul class="errors-list text-danger" ng-show="showErrors">
                <li class="errors-list-item" ng-repeat="error in errors.bio">{{error}}</li>
              </ul>
            </div>
          </div>
        </div>
        
        <h2><%= t('pages.account.titles.password') %></h2>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <%= f.email_field(:email, :class => 'form-control input-sm', :value => @current_user.email, :placeholder => t('forms.placeholders.email'), 'ng-model' => 'account.email', 'ng-init' => "account.email = '#{@current_user.email}'") %>
              <ul class="errors-list text-danger" ng-show="showErrors">
                <li class="errors-list-item" ng-repeat="error in errors.email">{{error}}</li>
              </ul>
            </div>
            <div class="form-group">
              <%= f.password_field(:password, :class => 'form-control input-sm', :placeholder => t('forms.placeholders.password'), 'ng-model' => 'account.password') %>
              <ul class="errors-list text-danger" ng-show="showErrors">
                <li class="errors-list-item" ng-repeat="error in errors.password">{{error}}</li>
              </ul>
            </div>
            <div class="form-group mb0 clearfix">
              <%= f.button(t('pages.account.forms.buttons.save'), :type => :submit, :class => 'btn btn-sm btn-primary pull-right') %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>