<div class="account-page col-md-6 col-md-offset-3" ng-controller="FollowersController">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('pages.followers.title') %></h2>

      <div class="panel panel-default" ng-show="showNoUsers">
        <div class="panel-body p10">
          <p class="mb0"><%= t('pages.followers.messages.any') %></p>
        </div>
      </div>
      
      <div class="panel panel-default" ng-repeat="relationship in relationships">
        <div class="panel-body p10">
          <div class="media">
            <div class="media-left">
              <img ng-src="{{relationship.user.avatar}}">
            </div>
            <div class="media-body">
              <p class="account-name text-primary">
                <a href="/profile/{{relationship.user.id}}">
                  <strong>{{relationship.user.name}}</strong>
                </a>
              </p>
              <p class="account-email text-muted">{{relationship.user.email}}</p>
              <p class="account-bio">{{relationship.user.bio}}</p>
              <button class="btn btn-sm btn-danger" ng-show="relationship.test" ng-click="updateRelationship(relationship)"><%= t('pages.followers.buttons.unfollow') %></button>
              <button class="btn btn-sm btn-success" ng-show="!relationship.test" ng-click="updateRelationship(relationship)"><%= t('pages.followers.buttons.follow') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>