<div class="home-page col-md-6 col-md-offset-3" ng-controller="FeedController">
	<div class="row">
		<div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body p10">
          <%= form_for(:search, :url => search_path, :html => {:class => 'search-form'}) do |f| %>
            <div class="col-xs-6 pl0">
              <p class="mb0 search-label"><%= t('pages.home.forms.search.label') %></p>
            </div>
            <div class="col-xs-4 pr0">
              <div class="form-group mb0">
                <%= f.search_field(:query, :class => 'form-control input-sm', :placeholder => t('pages.home.forms.search.placeholder')) %>
              </div>
            </div>
            <div class="col-xs-2 pr0">
              <div class="form-group mb0">
                <%= f.button(t('pages.home.forms.search.button'), :type => :submit, :class => 'search-button btn btn-sm btn-primary') %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
			<div class="panel panel-default">
        <div class="panel-body">
          <ul class="errors-list text-danger" ng-show="showErrors">
            <li class="errors-list-item" ng-repeat="error in errors.content">{{error}}</li>
          </ul>
          <%= form_for(:post, :url => api_v1_user_posts_path(@current_user['id']), :html => {:class => 'posts-form', 'ng-submit' => 'proccess($event)'}) do |f| %>
            <%= f.hidden_field(:user_id, :value => @current_user['id'], 'ng-model' => 'post.user_id', 'ng-init' => "post.user_id = #{@current_user['id']}", :class => 'user_id') %>
            <div class="form-group">
              <%= f.text_area(:content, :class => 'form-control input-sm', :placeholder => t('pages.home.forms.post.placeholder'), 'ng-model' => 'post.content', 'ng-change' => 'verify()') %>
            </div>
            <div class="form-group mb0">
              <div class="row">
                <div class="col-xs-8">
                  {{70-post.content.length}} <%= t('pages.home.forms.post.remaining') %>
                </div>
                <div class="col-xs-4">
                  <%= f.button(t('pages.home.forms.post.button'), :type => 'submit', :class => 'btn btn-sm btn-primary pull-right') %>
                </div>
              </div>
            </div>
          <% end %>
        </div>   
      </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
        <div class="panel-body p10">
          <ul class="posts-list" ng-show="posts.length > 0">
            <li class="posts-list-item" ng-repeat="post in posts">
              <div class="post media">
                <div class="media-left">
                  <img ng-src="{{post.user.avatar}}" alt="{{post.user.name}}">
                </div>
                <div class="media-body">
                  <p class="post-date text-muted">{{date(post.created_at)}}</p>
                  <p class="post-author text-primary">
                    <a href="/profile/{{post.user.id}}" title="Perfil de {{post.user.name}}">
                      <strong>{{post.user.name}}</strong>
                    </a>
                  </p>
                  <p class="post-content">{{post.content}}</p>
                  <p class="post-links mb0">
                    <a class="text-danger" href="javascript:;" ng-click="delete(post)" ng-show="current_user_id == post.user.id"><%= t('pages.home.links.delete') %></a>
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <ul class="posts-list" ng-show="posts.length == 0">
            <li class="posts-list-item">
              <div class="post">
                <p class="post-content mb0"><%= t('pages.home.messages.any') %></p>
              </div>
            </li>
          </ul>
        </div>   
      </div>

      <div class="alert alert-sm alert-success" ng-show="showTotalHets">
        <%= t('pages.home.messages.all') %>
      </div>

      <button class="load-more btn btn-sm btn-success" ng-click="more()" ng-show="showLoadMore"><%= t('pages.home.links.more') %></button>
		</div>
	</div>
</div>