<div class="start-page col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-7">
      <h1 class="start-title"><%= t('pages.start.title') %></h1>
      <p class="start-description"><%= t('pages.start.description') %></p>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="sign-panel panel panel-default" ng-controller="SigninController">
        <div class="panel-body">
          <h2 class="sign-title"><%= t('pages.start.forms.titles.signin') %></h2>
          <div class="sign-alert alert alert-danger" role="alert" ng-show="errors">
            <%= t('pages.start.forms.messages.errors') %>
          </div>
          <%= form_for(:user, :url => session_signin_path, :html => {:class => 'signin-form', 'ng-submit' => 'process($event)'}) do |f| %>
            <div class="form-group">
              <%= f.email_field(:email, :class => 'form-control input-sm', :placeholder => t('forms.placeholders.name'), 'ng-model' => 'user.email') %>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8 pr0">
                  <%= f.password_field(:password, :class => 'form-control input-sm', :placeholder => t('forms.placeholders.password'), 'ng-model' => 'user.password') %>
                </div>
                <div class="col-sm-4">
                  <%= f.button(t('pages.start.forms.buttons.signin'), :type => 'submit', :class => 'sign-btn btn btn-sm btn-primary') %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="sign-panel panel panel-default" ng-controller="SignupController">
        <div class="panel-body">
          <h2 class="sign-title"><%= t('pages.start.forms.titles.signup') %></h2>
          <div class="sign-alert alert alert-success" role="alert" ng-show="success">
            <%= t('pages.start.forms.messages.success') %>
          </div>
          <%= form_for(:user, :url => api_v1_users_path, :html => {:class => 'signup-form', 'ng-submit' => 'process($event)'}) do |f| %>
            <div class="form-group">
              <%= f.text_field(:name, :class => 'form-control input-sm', :placeholder => t('forms.placeholders.name'), 'ng-model' => 'user.name') %>
              <ul class="sign-errors-list" ng-repeat="error in errors.name">
                <li class="sign-errors-list-item text-danger">{{error}}</li>
              </ul>
            </div>
            <div class="form-group">
              <%= f.email_field(:email, :class => 'form-control input-sm', :placeholder => t('forms.placeholders.email'), 'ng-model' => 'user.email') %>
              <ul class="sign-errors-list" ng-repeat="error in errors.email">
                <li class="sign-errors-list-item text-danger">{{error}}</li>
              </ul>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-8 pr0">
                  <%= f.password_field(:password, :class => 'form-control input-sm', :placeholder => t('forms.placeholders.password'), 'ng-model' => 'user.password') %>
                  <ul class="sign-errors-list" ng-repeat="error in errors.password">
                    <li class="sign-errors-list-item text-danger">{{error}}</li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <%= f.button(t('forms.buttons.send'), :type => 'submit', :class => 'sign-btn btn btn-sm btn-primary') %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>