<input class="profile_id" type="hidden" value="<%= @profile.id %>">

<div class="account-page col-md-6 col-md-offset-3" ng-controller="ProfileController">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('pages.profile.title') %></h2>
      <div class="panel panel-default">
        <div class="panel-body p10">
          <div class="media">
            <div class="media-left">
              <img ngf-thumbnail="account.avatar || '<%= @profile.avatar.url(:thumb) %>'">
            </div>
            <div class="media-body">
              <p class="account-name text-primary"><strong><%= @profile.name %></strong></p>
              <p class="account-email text-muted"><%= @profile.email %></p>
              <p class="account-bio"><%= @profile.bio %></p>
              <% if @current_user and @current_user.id != @profile.id %>
                <button class="btn btn-sm btn-danger" ng-show="relationship.test" ng-click="updateRelationship()"><%= t('pages.profile.buttons.unfollow') %></button>
                <button class="btn btn-sm btn-success" ng-show="!relationship.test" ng-click="updateRelationship()"><%= t('pages.profile.buttons.follow') %></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body p10">
          <ul class="posts-list" ng-show="posts.length > 0">
            <li class="posts-list-item" ng-repeat="post in posts">
              <div class="post media">
                <div class="media-left">
                  <img ng-src="{{post.user.avatar}}" alt="{{post.user.name}}">
                </div>
                <div class="media-body">
                  <p class="post-date text-muted">{{date(post.created_at)}}</p>
                  <p class="post-author text-primary">
                    <strong>{{post.user.name}}</strong>
                  </p>
                  <p class="post-content">{{post.content}}</p>
                  <p class="post-links mb0">
                    <a class="text-danger" href="javascript:;" ng-click="delete(post)" ng-show="current_user_id == post.user.id"><%= t('pages.profile.links.delete') %></a>
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <ul class="posts-list" ng-show="posts.length == 0">
            <li class="posts-list-item">
              <div class="post">
                <p class="post-content mb0"><%= t('pages.profile.messages.any') %></p>
              </div>
            </li>
          </ul>
        </div>   
      </div>

      <div class="alert alert-sm alert-success" ng-show="showTotalHets">
        <%= t('pages.profile.messages.all') %>
      </div>

      <button class="load-more btn btn-sm btn-success" ng-click="more()" ng-show="showLoadMore"><%= t('pages.profile.links.more') %></button>
    </div>
  </div>
</div>