<div class="account-page col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('pages.search.messages.all') %>: <i><%= params[:search][:query] %></i></h2>
      
      <% if @users.size > 0 %>
        <% @users.each do |user| %>
          <div class="panel panel-default">
            <div class="panel-body p10">
              <div class="media">
                <div class="media-left">
                  <%= image_tag user.avatar.url(:avatar) %>
                </div>
                <div class="media-body">
                  <p class="account-name text-primary">
                    <%= link_to profile_path(user.id) do%>
                      <strong><%= user.name %></strong>
                    <% end %>
                  </p>
                  <p class="account-email text-muted"><%= user.email %></p>
                  <p class="account-bio"><%= user.bio %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="panel panel-default">
          <div class="panel-body p10">
            <p class="mb0"><%= t('pages.search.messages.any') %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>